.filters {
  &__wrapper {
    padding: 26px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md) {
      flex-wrap: wrap;
    }
  }
  &__danger {
    display: flex;
    align-items: center;
    margin-right: 10px;
    & label {
      margin-top: 3px;
      user-select: none;
      cursor: pointer;
    }
    @media (max-width: $lg) {
      flex: 0 0 230px;
    }
    @media (max-width: $md) {
      margin-bottom: 14px;
    }
  }
  &__danger-input {
    margin-right: 5px;
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
  &__distance {
    display: flex;
    display: flex;
    word-wrap: normal;
    flex-wrap: wrap;
    justify-self: flex-end;
    & span {
      margin-right: 5px;
      display: flex;
      align-items: center;
    }
  }
  &__distance-type {
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: inherit;
    &:after {
      content: ",";
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    &:not(&--active) {
      text-decoration: underline;
    }
    &--active {
      font-weight: 700;
    }
  }
}
